@font-face {
  font-family: "Farro";
  src: url(/assets/fonts/Farro-Light.ttf);
}

body {
  background-image: url(../assets/weather-bg.png);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-family: "Farro", Arial, Helvetica, sans-serif !important;
}

.container {
  margin-top: 5rem;
}

i::before {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 96px !important;
}

h2 {
  font-size: 36px !important;
}

.input-group {
  background-color: rgb(207, 207, 139);
  height: 25%;
  border-radius: 0.25rem;
}

.inputCol {
  display: flex;
  flex-direction: column;
}

.fa-heart:hover{
    cursor: pointer !important;
    color: red !important;
}

span {
  background-color: transparent !important;
  border: none !important;
}
input {
  background-color: transparent !important;
  border: none !important;
  font-size: 28px !important;
}

.input-group[type=submit]:focus {
    border: none !important;
}

#searchBtn:hover {
  cursor: pointer;
}

#favTabs {
  background-color: rgb(207, 207, 139);
  height: fit-content !important;
}

.btn{
    color: grey !important;
    font-weight: 900 !important;
}
.btn:hover{
    color: black !important;
}

.weatherCard {
  border-radius: 1rem;
  width: 70%;
}

.cityTitle {
  background-color: rgb(224, 187, 22);
  border-radius: 1rem 1rem 0rem 0rem;
  padding-top: 1rem;
}

.cityFormat {
  display: flex;
}

#stateName {
  padding: 0rem 0.5rem;
}

.fa-heart {
  font-size: 48px !important;
}

.fa-heart:hover {
  cursor: pointer !important;
  color: red !important;
}

.cityBody {
  background-color: rgb(207, 207, 139);
  border-radius: 0rem 0rem 1rem 1rem;
}

.highLows {
  justify-content: center;
}

.typeFormat {
  justify-content: center;
}

.cityBody h3 {
  width: fit-content;
  padding: 0px;
}

/* .weatherCol{
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5rem;
} */

.fivedayForecast {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 3rem;
  grid-template-rows: 1fr
}

.weatherCard{
    height: 100% !important;
}
.weekdayWeather {
  background-color: rgb(224, 187, 22);
  border-radius: 0.5rem 0.5rem 0rem 0rem;
}
.weekdayTemp {
  background-color: rgb(207, 207, 139);
  border-radius: 0rem 0rem 0.5rem 0.5rem;
}
.weekdayWeather i {
  font-size: 104px !important;
  height: 100px !important;
  padding: 0px !important;
  margin-top: 7rem;
}
#weatherIcon {
  font-size: 104px !important;
  height: 50px !important;
  padding: 0px !important;
  margin: 4rem 0rem 0.5rem 0rem;
}


@media screen and (max-width: 1400px) {
    .weatherCard{
        width: 80%;
    }

    .input-group{
        height: 25%;
    }
}